html{
    background-color: #1f1f1f;
    color: #b5bac9;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 90%;
}

.main h2 {
    text-align: center;
}

#link {
    
    color: #b5bac9;
    text-decoration: none;
}