include includes/head.pug
body
    header.header
        h1= message
    main.main
        section
            h2 La doc
            a(id="link" href="http://localhost:8080/docs") C'est par ici
    footer.footer
        h2 orvoir